.btn-link {
  background-image: linear-gradient(to right, $lime-green, $bright-cyan);
  padding: 1rem 3.5rem;
  font-weight: 700;
  border-radius: 3.5rem;
  color: white;

  &:hover {
    color: yellow;
  }
}
