.btn-link {
  background-image: linear-gradient(to right, $lime-green, $bright-cyan);
  padding: 1.5rem 4rem;
  display: inline-block;
  font-weight: 700;
  border-radius: 3.5rem;
  margin: 5rem 0;
}
