.latest {
  background-color: $Very-Light-Gray;
  text-align: center;
  padding: 5rem 0;

  h3 {
    @media #{$brk-point-1024} {
      text-align: left;
    }
  }
}

.article {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 3rem;
  margin-top: 4rem;

  @media #{$brk-point-768} {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  @media #{$brk-point-1024} {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  &__wrapper {
    background-color: $White;
  }
  &__image {
    width: 100%;

    @media #{$brk-point-1024} {
      height: 200px;
    }
  }

  &__info {
    padding: 3rem;
    text-align: left;
    color: $Grayish-Blue;
  }

  &__author {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

  &__title {
    font-size: 2rem;
    line-height: 1.2;
    color: black;
  }

  &__desc {
    margin-top: 1rem;
  }
}
